body {
  background-color: black;
  color: rgba(9, 24, 235, 0.842);
  font-family: 'Trebuchet MS', "Comic Sans MS", cursive;
  margin: 0%;
}

header {
  font-size: 60px;
  border-bottom: double 5px yellowgreen;
  padding: 6px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}
